@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--FF);
  text-wrap: pretty;
}
/* || ELEMENT INITIAL STYLE */

html {
  line-height: 2rem;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden !important;
}

body {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: var(--Bg-color);
  color: var(--Font-color);
}

img {
  display: block;
  max-width: 100%;
  box-shadow: 0 0 2px 1px var(--Lines-color);

  height: auto;
}
input,
button,
textarea {
  font: inherit;
}
a,
button {
  cursor: pointer;
}
html:has(.loader) ::-webkit-scrollbar {
  display: none;
}
h1 {
  font-size: 2rem;
}

li {
  list-style: none;
}
a:any-link {
  color: var(--FF);
  text-decoration: none;
}
a:hover,
a:focus-visible,
.stateTriggered {
  color: var(--Hover-color);
}

a:focus-visible {
  outline: var(--Focus-outline);
}

section {
  position: relative;
}
p {
  margin-top: 10px;
}

/* || VARIABLES */
:root {
  --FF: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --Font-color: #fff;
  --Bg-color: rgb(42, 1, 1);
  --Bg-color2: hsl(0, 92%, 15%);
  --nav-Bg-color: rgba(51, 0, 0, 0.527);
  --Hover-color: rgb(249, 249, 200);
  --Focus-outline: 1px solid #fff;
  --Hero-color: rgb(0, 0, 0);
  --Bg-color-end: rgb(162, 0, 0);
  --Padding-block: 100px;
  --Lines-color: black;
  --Scrollbar-track-color: rgb(118, 41, 41);
  --Scrollbar-track-thumb: rgb(169, 1, 1);
  --Scrollbar-track-hover: rgb(250, 0, 0);
  --Loader: #ddd;
  --Hero-Overlay-1: rgba(34, 3, 3, 0.444);
  --Hero-Overlay-2: rgba(45, 2, 2, 0.444);
  --Form-hover: hsl(0, 92%, 20%);
  --Suggestion-Subheading: gray;
}
@media (prefers-color-scheme: light) {
  :root {
    --Font-color: white;
    --Bg-color: rgb(177, 123, 123);
    --Bg-color2: hsl(0, 23%, 46%);
    --nav-Bg-color: rgba(169, 76, 76, 0.527);
    --Hover-color: rgb(210, 210, 21);
    --Focus-outline: 1px solid #fff;
    --Hero-color: rgb(0, 0, 0);
    --Bg-color-end: rgb(162, 0, 0);
    --Padding-block: 100px;
    --Lines-color: black;
    --Scrollbar-track-color: rgb(235, 170, 170);
    --Scrollbar-track-thumb: rgb(225, 124, 124);
    --Scrollbar-track-hover: rgb(205, 134, 134);
    --Loader: #ddd;
    --Hero-Overlay-1: rgba(100, 80, 80, 0.444);
    --Hero-Overlay-2: rgba(90, 2, 2, 0.444);
    --Form-hover: hsl(0, 24%, 33%);
    --Suggestion-Subheading: white;
  }
}

/* || UTILITY CLASSES */

.wrapper {
  margin: 0 auto;
  width: 80%;
}

.hidden {
  display: none;
}

/* || UP */

.up.hiddenUp a {
  transform: translateX(10000px);
  opacity: 0;
  visibility: hidden;
}
.up a {
  position: fixed;
  z-index: 10000;
  bottom: 100px;
  right: 20px;
  padding-bottom: 5px;
  padding-inline: 10px;
  border: 3px solid;
  border-radius: 15px;
  transition: opacity 0.3s, visibility 0.3s;
}

/* || LOADER */

.loader {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Bg-color);
  transition: opacity 0.75s, visibility 0.75s;
}
.loader--hidden {
  opacity: 0;
  visibility: hidden;
}
.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid var(--Loader);
  border-top-color: var(--Lines-color);
  border-radius: 50%;
  animation: loading 0.75s ease-in infinite;
}

/* || NAVIGATION */

.navigation {
  background-color: var(--nav-Bg-color);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.navigation .wrapper {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation .navigation__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navigation .navigation__logo h1 {
  font-size: clamp(9px, 3.4vw, 30px);
}
.navigation .wrapper .navigation__nav .nav__ul {
  display: flex;
  gap: 1rem;
}
.navigation .wrapper .navigation__nav .nav__ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(17px, 1.5vw, 30px);
  line-height: 75px;
  height: 75px;
}
.navigation .wrapper .navigation__nav .nav__ul li a {
  height: 100%;
  display: inline-block;
}

.navigation .wrapper .navigation__nav .nav__ul li a::before,
.stateTriggered::before {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: var(--Bg-color-end);
  transition: all 0.3s;
}

.navigation .wrapper .navigation__nav .nav__ul li:hover a::before,
.stateTriggered::before {
  cursor: pointer;
  width: 100%;
}

.navigation .wrapper .navigation__nav .nav__ul li:hover a {
  color: var(--Hover-color);
}

.navigation .wrapper .navigation__button {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  width: 50px;
  border: none;
  background-color: var(--nav-Bg-color);
}
.navigation .wrapper .navigation__button img {
  width: inherit;
  height: inherit;
  filter: invert(100%);
}
.navigation .wrapper .navigation__button:hover img,
.navigation .wrapper .navigation__button:focus-visible img {
  outline: 1px solid var(--Lines-color);
  border-radius: 30%;
}

/* || HERO */
main .main__hero {
  margin-top: 0px;

  width: 100%;
  height: 100vh;
  display: flex;
  line-height: normal;
  justify-content: flex-end;
  align-items: center;
}

.main__hero::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    left,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.25) 25%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  background-blend-mode: color;
  background-size: cover;
}

.main__hero .hero__text {
  position: absolute;
  text-align: center;
  font-size: 2vw;
  top: 25%;
}

.main__hero .hero__text > * {
  padding-block: 10px;
}
.main__hero .hero__text h2 {
  margin-top: -30px;
  margin-bottom: 20px;
}
.main__hero .hero__text a {
  padding: 10px 70px;
  border: 1px solid var(--Lines-color);
  width: 60%;
  height: 100%;
  border-radius: 50px;
  font-weight: 700;
}
.main__hero .hero__text h1,
.main__hero .hero__text a {
  color: var(--Hero-color);
  transition: all 0.25s;
}
.main__hero .hero__text a:hover,
.main__hero .hero__text a:focus-visible {
  color: white;
  background-color: var(--Lines-color);
}

/* || NOIDUNG1 */
.main__noidung1 h1 {
  color: var(--Hover-color);
}
.main__noidung1 {
  padding-block: var(--Padding-block);
  background-color: var(--Bg-color2);
}
.main__noidung1 .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main__noidung1 .wrapper img {
  height: 100%;
  object-fit: cover;
}
.main__noidung1 .wrapper .noidung1__container {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

/* || SLIDER */
.autoRun {
  background-color: black;
}
.autoRun .scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: unset;
  mask: unset;
}

.autoRun .scroller[data-animated="true"] .scroller__inner img {
  object-fit: cover;
  width: 150px;
  height: 80px;
  max-width: none;
}
.autoRun .scroller {
  max-width: unset;
}
.autoRun .scroller[data-animated="true"] .scroller__inner {
  width: fit-content;
  flex-wrap: nowrap;
  animation: scroll 10.5s linear infinite;
}
.autoRun .scroller__inner {
  padding-block: calc(var(--Padding-block) - 50px);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
/* || NOIDUNG2 */
.main__noidung2 .wrapper {
  padding-block: var(--Padding-block);
}
.main__noidung2 h1 {
  color: var(--Hover-color);
  margin-bottom: 20px;
  text-align: center;
}
.main__noidung2 .noidung2__subheading {
  width: 70%;
  margin-bottom: 70px;
  text-align: center;
  color: var(--Suggestion-Subheading);
  margin-inline: auto;
}
.main__noidung2 .noidung2__heading {
  width: 50%;
  color: var(--Suggestion-Subheading);
  margin-bottom: 0px;
  text-align: center;
  margin-inline: auto;
}
.main__noidung2 img {
  box-shadow: none;
}
.noidung2__container {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}
.noidung2__container > * {
  flex: 1;
}
.container__col {
  align-content: center;
}
.container__col:nth-of-type(2) {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}
.container__text {
  --border-width: 4px;
  --border-color: #250aa8;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: black;
  background-color: rgb(255, 255, 255);
  padding: 30px 30px;
  transition: 0.3s;
}
.container__text p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.container__text img {
  margin-left: auto;
}
.container__text:hover {
  transform: translateY(-5px);
}

.container__text.container__text-orange {
  border: var(--border-width) solid var(--border-color);
  border-top: 6px solid orange;
}
.container__text.container__text-red {
  border: var(--border-width) solid var(--border-color);

  border-top: 6px solid red;
}
.container__text.container__text-yellow {
  border: var(--border-width) solid var(--border-color);

  border-top: 6px solid yellow;
}
.container__text.container__text-brown {
  border: var(--border-width) solid var(--border-color);

  border-top: 6px solid brown;
}
/* || NOIDUNG3 */
.main__noidung3 {
  margin-top: -12px;
  background-color: var(--Bg-color2);
}
.main__noidung3 img {
  max-height: 400px;
  object-fit: cover;
}
.main__noidung3 img:nth-child(1) {
  border-radius: 82% 18% 72% 28% / 28% 67% 33% 72%;
}
.main__noidung3 img:nth-child(2) {
  border-radius: 68% 32% 71% 29% / 21% 79% 21% 79%;
}
.main__noidung3 .wrapper {
  padding-block: var(--Padding-block);
  display: flex;
  flex-direction: column;
}
.main__noidung3 .wrapper h1 {
  padding-bottom: 50px;
  text-align: center;
  color: var(--Hover-color);
}
.main__noidung3 .wrapper h2 {
  padding-bottom: 10px;
  text-align: center;
}
.main__noidung3 .wrapper h1::after {
  content: "";
  width: 100%;
  height: 5px;
  display: block;
  margin-top: 40px;
  transform: scale(0, 1);
  background-color: var(--Lines-color);
  animation: progress linear forwards;
  animation-timeline: view(block);
  animation-range: contain 0% contain 100%;
}
.main__noidung3 .wrapper .container__noidung3 {
  margin-top: 10px;
}

.container__textLeft,
.container__textRight {
  text-wrap: pretty;
  padding-inline: 10px;
}
.container__left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container__right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container__right .container__textRight {
  order: 1;
  padding-top: calc(var(--Padding-block) / 3);
}

.container__left .container__textLeft {
  padding-top: calc(var(--Padding-block) / 3);
}
.container__noidung3 .container__left {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--Padding-block);
}
.container__noidung3 .container__right {
  display: flex;
  flex-direction: column;
}
/* || SLIDES */
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
.main__slides {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroller {
  max-width: 1200px;
}
.scrollRun .scroller__inner {
  display: flex;
  flex-wrap: wrap;
}
.scroller__inner img {
  box-shadow: none;
}
.scrollRun .scroller__inner img {
  min-height: 400px;
  min-width: 200px;
  object-fit: cover;
}

.scroller[data-animated="true"] .scroller__inner img {
  width: 150px;
  height: 200px;
  max-width: none;
}
.scroller[data-animated="true"] {
  overflow: hidden;

  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );

  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.scroller[data-animated="true"] .scroller__inner {
  width: fit-content;
  flex-wrap: nowrap;
  animation: scroll linear;
  animation-timeline: scroll(root);
}

/* || NOIDUNG4 */
.main__noidung4 {
  background-color: var(--Bg-color2);
}
.main__noidung4 .wrapper.effect {
  filter: blur(0);
  transform: translate(0);
  transition-duration: 2s;
}

.main__noidung4 .wrapper {
  padding-block: var(--Padding-block);
}
.main__noidung4 .wrapper h1 {
  color: var(--Hover-color);
  text-align: left;
}
.noidung4__container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  text-align: left;
}
.noidung4__container p {
  color: rgb(204, 204, 204);
}
.noidung4__container-item {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.noidung4__container-item p {
  margin: 0;
}
.noidung4__container-item h3 {
  font-size: 20px;
}
.item__disc {
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: orange;
  border-radius: 15px;
  width: 50%;
  height: 12px;
}
/* || PHANTICH */
.main__contact .wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
.main__phantich::before {
  content: "";
  display: block;
  position: absolute; /* Fallback color */
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}
.main__phantich {
  background-image: url(img/phantich.jpg);
  background-size: cover;
  background-position: center;
}

.main__phantich .wrapper.effect {
  background-color: rgba(0, 0, 0, 0.5);
  padding-block: var(--Padding-block);
  transform: translate(0);
  transition-duration: 1s;
}
.main__phantich h1 {
  text-align: center;
  color: var(--Hover-color);
}

.main__phantich .wrapper .phantich__container {
  display: grid;
  gap: 5px;
  text-align: center;
}
.main__phantich .wrapper .phantich__container .container__death {
  padding: 40px 20px;
}
.main__phantich .wrapper .phantich__container h2 {
  color: var(--Hover-color);
  margin-bottom: 4px;
}

.wrapper .phantich__container {
  grid-template-columns: repeat(2, 1fr);
}
.phantich__container .center-alignment {
  grid-column: span 2;
}

/* || CONTACT */

.main__contact {
  background-color: var(--Bg-color2);
}
.main__contact .wrapper {
  padding-block: var(--Padding-block);
  display: grid;
}
.main__contact .wrapper .contact__text {
  background-color: var(--Scrollbar-track-hover);
  padding-block: var(--Padding-block);
}
.main__contact .wrapper img {
  padding: 0;
}
.main__contact .wrapper .contact__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: center;
  padding-inline: 15px;
}
.main__contact .wrapper .contact__text h1 {
  color: var(--Hero-color);
  text-align: left;
}

.main__contact .wrapper .contact__text a {
  white-space: nowrap;
  margin-top: 20px;
  display: block;
  text-align: center;
  padding: 10px 70px;
  border: 1px solid var(--Lines-color);
  border-radius: 50px;
  font-weight: 700;
  color: var(--Hero-color);
  transition: background 0.25s, transform 0.5s, filter 0.5s;
}
.main__contact .wrapper .contact__text a:hover,
.main__contact .wrapper .contact__text a:focus-visible {
  color: white;
  background-color: var(--Lines-color);
}

/* || FORM */
.form__container {
  position: fixed;
  opacity: 1;
  visibility: visible;
  top: 0;
  left: 0;
  height: 100%;
  display: grid;
  place-items: center;
  width: 100vw;
  z-index: 1000000;
  backdrop-filter: blur(10px);
  transition: all 0.5s;
}
form {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 15px 10px;
  position: relative;
  background-color: var(--Bg-color);
  height: fit-content;
}
form .close_form {
  position: absolute;
  top: 0;
  width: 60px;
  height: 60px;
  right: 30px;
  background-color: transparent;
  border: none;
}
form .close_form-img {
  transition: 0.4s;
  box-shadow: none;
  background-color: transparent;
  pointer-events: none;
}

.close_form-img {
  filter: invert();
}
.close_form:hover .close_form-img {
  transform: scale(1.1);
}
.form__container.hidden {
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.form__container label:hover {
  cursor: pointer;
}
.form__container :is(input, textarea) {
  outline-color: var(--Scrollbar-track-hover);
  border: none;
}

.form__wrapper {
  position: relative;
  margin-top: 10px;
  display: grid;
  width: 90%;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.form__group:is(:nth-of-type(1), :nth-of-type(4)) {
  grid-column: span 2;
}

.form__group :is(textarea, input) {
  border-radius: 4px;
  border: 3px solid rgb(151, 52, 52);
  padding: 5px 10px;
  width: 100%;
}
.form__group :is(textarea, input)::placeholder {
  font-weight: 600;
  color: black;
}
.form__group :is(textarea, input):focus {
  outline: 1px solid var(--Scrollbar-track-hover);
}

.form__group:nth-child(1) input {
  background-image: url("img/user.png");
  background-size: 20px;
  background-position: 97.5%;
  background-repeat: no-repeat;
}
.form__group:nth-child(2) input {
  background-image: url("img/phone.png");
  background-size: 20px;
  background-position: 95%;
  background-repeat: no-repeat;
}
.form__group:nth-child(3) input {
  background-image: url("img/email.png");
  background-size: 20px;
  background-position: 95%;
  background-repeat: no-repeat;
}
form h1 {
  font-size: 1.5rem;
  color: var(--Hover-color);
}
.form__subheading {
  width: 90%;

  margin-top: 25px;
  font-size: 0.825rem;
}

form input[type="submit"] {
  align-self: center;
  cursor: pointer;
  margin-block: 25px;
  font-size: 0.8rem;
  padding-block: 5px;
  padding-inline: 30px;
  border-radius: 5px;
  font-weight: 600;
}
form input[type="submit"]:is(:hover, :focus-visible) {
  background-color: #abaaaa;
}

.form__cta {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.form__cta .form__imgs {
  display: flex;
  gap: 10px;
  filter: invert();
}

.form__imgs > * {
  width: 40px;
  height: 40px;
}
.form__imgs .imgs__anchor img {
  box-shadow: none;
  transition: 0.3s ease;
  pointer-events: none;
}

.form__imgs .imgs__anchor:hover img {
  transform: translateY(-10px);
}
/* || THANHVIEN */

.main__thanhvien {
  padding-block: var(--Padding-block);
  background-color: #a94d26;
}
.main__thanhvien h1 {
  position: relative;
  margin-bottom: 20px;
  width: fit-content;
  margin-inline: auto;
  text-shadow: 0px 1px 1px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.main__thanhvien h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -10px;
  left: 0;
  background: rgb(172, 4, 4);
  background: linear-gradient(
    90deg,
    rgba(172, 4, 4, 1) 0%,
    rgba(65, 0, 0, 1) 100%
  );
}
.main__thanhvien h2 {
  font-size: clamp(17px, 1vw, 22px);
}
.main__thanhvien .main__thanhvien-subheading {
  margin-bottom: 60px;
  width: 70%;
  margin-inline: auto;
  text-align: center;
}

.thanhvien__grid {
  display: grid;
  width: 70%;
  margin-inline: auto;
  gap: 30px;
  grid-template-columns: 1fr;
}
.thanhvien__container {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  min-height: 400px;
}
.thanhvien__container img {
  box-shadow: none;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}

.thanhvien__container-info p {
  margin: 0;
  margin-bottom: -5px;
  font-weight: 400;
  font-size: 1rem;
  color: var(--Hover-color);
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 3px;
}
.thanhvien__container-info h2 {
  word-spacing: 2px;
}
.thanhvien__container-info :is(h2, p):hover {
  cursor: default;
}
.thanhvien__container-info a {
  display: inline-block;
  margin-top: 15px;
  word-spacing: 2px;
  width: 100%;
}
.thanhvien__container-info {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: absolute;
  z-index: 4;
  background-color: var(--Bg-color2);
  width: 80%;
  bottom: -9rem;
  left: 50%;
  padding: 20px 30px;
  transform: translate(-50%);
  border-radius: 20px;
  opacity: 0;
  transition: opacity 1s 1s;
}
.thanhvien__container:hover {
  animation: thanhvienContainerRemove-overflow 2s forwards;
}
.thanhvien__container:not(:hover) {
  animation: thanhvienContainerApply-overflow 2s forwards;
}
.thanhvien__container:hover .thanhvien__container-info {
  animation: thanhvienInformationAppear 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.thanhvien__container:not(:hover) .thanhvien__container-info {
  animation: thanhvienInformationDisappear 1s forwards;
}
.thanhvien__container--indicator {
  position: absolute;
  z-index: 2;
  padding: var(--Padding-block);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: 0;
  background-color: rgba(0, 0, 0, 0.299);
  border-radius: 20px;

  animation: thanhvienHintingEffect 4s infinite;
  align-content: center;
}
.thanhvien__container--indicator .indicator__hoverMouse {
  padding: 10px;
  border-radius: 20px;
}

.thanhvien__container:hover .thanhvien__container--indicator {
  animation: unset;
}
@keyframes thanhvienHintingEffect {
  33%,
  100% {
    opacity: 0;
    visibility: 0;
  }
  66% {
    opacity: 1;
    visibility: 1;
  }
}
@keyframes thanhvienInformationAppear {
  50% {
    transform: translate(-50%, -10.5rem);
  }
  100% {
    transform: translate(-50%, -7rem);
  }
}

@keyframes thanhvienContainerRemove-overflow {
  to {
    overflow: initial;
  }
}
@keyframes thanhvienContainerApply-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

@keyframes thanhvienInformationDisappear {
  0% {
    transform: translate(-50%, -7rem);
  }
  50% {
    transform: translate(-50%, -10.5rem);
  }
  100% {
    transform: translate(-50%, 0.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}
/* || FOOTER  */

.footer__video {
  filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  border: none;
}
.footer__inner {
  background: #fff;
  backdrop-filter: blur(50px);
  border: 0.1px solid rgba(233, 232, 232, 0.208);
  border-radius: 5px;
  padding: 2rem;
  margin: 1rem 0;
}

.footer {
  padding-top: calc(var(--Padding-block) - 20px);
  padding-bottom: calc(var(--Padding-block) - 40px);
  position: relative;
  display: flex;
  align-items: center;
  height: fit-content;
}
.footer :is(a, h3, h4) {
  color: var(--Lines-color);
}
.footer img {
  box-shadow: none;
}
.footer .layout__item-ul {
  display: flex;
}
.footer .footer__brands .layout__item-ul {
  gap: 10px;
}
.footer__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.footer__brands img {
  height: 32px;
}
.footer__brands {
  align-content: center;
}
footer .footer__social .layout__item-li a:hover {
  border-bottom: 1px solid var(--Lines-color);
}
footer h3 {
  font-family: "Noto Serif Display", serif;
  font-size: 2.3rem;
  font-weight: 300;
  text-align: center;
}
.layout__item {
  text-align: center;
  margin-bottom: 10px;
}
.inner__layout:nth-of-type(2) .layout__item {
  display: grid;
  place-content: center;
}

.layout__item-goUp {
  display: flex;
  justify-content: end;
  align-items: center;
}
.layout__item-goUp a {
  transition: 0.5s;
}
.layout__item-goUp a:hover {
  transform: translateY(-10px);
}
.inner__layout:nth-of-type(2) {
  margin-top: 20px;
}

footer svg {
  margin: 0.5rem;
}
.layout {
  margin-top: 3.5rem;
}
.footer__copyright {
  text-shadow: 3px 4px 7px rgba(143, 14, 14, 0.388);
  color: #fff;
}

/* || ANIMATIONS */

@keyframes appear {
  from {
    transform: translateY(10px);
    opacity: 0;
    filter: blur(2px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes appear2 {
  from {
    opacity: 0;
    filter: blur(1px);
    color: var(--Lines-color);
  }
  to {
    opacity: 1;
    filter: blur(0);
    color: var(--Font-color);
  }
}

@keyframes progress {
  to {
    transform: scale(1, 1);
  }
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/* || NAV ANIMATION */

/* progress of the web */
.navigation .nav__ul .reloading {
  transform: translateY(-100px);
  animation: appear 1.5s forwards;
}
.navigation .navigation__logo {
  animation: appear2 3.5s forwards;
}
.navigation .nav__ul .reloading.ms0 {
  animation-delay: 00ms;
}
.navigation .nav__ul .reloading.ms200 {
  animation-delay: 200ms;
}
.navigation .nav__ul .reloading.ms400 {
  animation-delay: 400ms;
}
.navigation .nav__ul .reloading.ms600 {
  animation-delay: 600ms;
}
.navigation .nav__ul .reloading.ms800 {
  animation-delay: 800ms;
}
.navigation::after {
  content: "";
  position: absolute;
  z-index: inherit;
  width: 100%;
  height: 5px;
  background-color: var(--Hover-color);
  transform-origin: left;
  transform: scale(0, 1);
  animation: progress linear;
  animation-timeline: scroll();
}
/* || HERO ANIMATION */

.main__hero .hero__text.reloading > * {
  animation: appear 1.5s;
}

/* || ND1 ANIMATION */

.main__noidung1 .noidung1__container.effect {
  transform: translate(100%);
}
.main__noidung1 .noidung1__container.show {
  transform: translate(0);
}
.main__noidung1 .noidung1__container h1.effect {
  transition-delay: 0.25s;
  transform: translateY(300%);
}
.main__noidung1 .noidung1__container h1.show {
  transform: translateY(0);
}

/* || NOIDUNG 3 ANIMATION */
.main__noidung3 .container__right.effect {
  transform: translate(100%);
}
.main__noidung3 .container__right.show {
  transform: translate(0);
}

/* || MQ */

@media (max-width: 1100px) and (min-width: 749px) {
  body {
    overflow-x: hidden !important;
  }
  /* || NOIDUNG1 */
  .main__noidung1 .wrapper img.hidden {
    display: block;
    grid-area: img2;
  }

  .main__noidung1 .wrapper img {
    width: 100%;
    grid-area: img1;
  }
  .main__noidung1 .wrapper .noidung1__container {
    grid-area: text;
  }
  .main__noidung1 .wrapper {
    display: grid;
    grid-template-areas:
      "img1 text"
      "img2 text";
    row-gap: 40px;
  }
  /* || NOIDUNG2 */

  .wrapper .noidung2__container {
    flex-direction: column;
  }
  /* ||NOIDUNG3  */
  .wrapper .container__noidung3 .container__left {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--Padding-block);
  }
  .wrapper .container__noidung3 .container__right {
    display: flex;
    flex-direction: column;
  }
  /* || NOIDUNG 4 */
  .container__right .container__textRight {
    order: 1 !important;
  }
  /* || THANHVIEN */
  .thanhvien__grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 750px) {
  img:not(.imgs__anchor img, .thanhvien__container img) {
    padding-inline: 10px;
    box-shadow: none;
  }
  p {
    font-size: clamp(16px, 3vw, 20px);
  }
  p:not(.form__subheading),
  h1:not(.form__heading),
  h2,
  h3 {
    padding-inline: 10px;
  }
  html {
    scroll-padding-top: 0.5rem;
  }
  .wrapper {
    width: 100%;
  }
  .body {
    transition: all 1s;
  }
  .body.closed {
    transform: translateY(200px);
  }
  /* || NAVIGATION MQ */
  .hidden.navigation__nav {
    margin-top: 10px;
    width: 100%;
    display: block;
    position: absolute;
    overflow: hidden;
  }
  .hidden.navigation__nav .nav__ul {
    display: flex;
    gap: 6px;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .hidden.navigation__nav .nav__ul a {
    padding-right: 100%;
    padding-top: 12px;
  }
  .hidden.navigation__nav .nav__ul a:not(.last) {
    border-bottom: 1px solid white;
  }
  .navigation .wrapper .navigation__nav {
    display: none;
  }
  .navigation .wrapper .navigation__nav .nav__ul {
    z-index: -1000;
  }
  .navigation .wrapper .navigation__button {
    display: block;
  }
  .navigation {
    position: static;
    border-bottom: 5px solid black;
  }
  /* || HERO MQ */
  .main__hero.hero {
    display: grid;
    place-items: center;
  }
  .slide-btn {
    display: none;
  }
  .main__hero-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--Hero-Overlay-2);
  }
  .main__hero::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(img/hero2.jpg);
    background-size: cover;
  }
  .main__hero .hero__text {
    font-size: 3vw;
  }

  .main__hero {
    border-top: 5px solid black;
    justify-content: center;
    align-items: center;
    height: calc(50vh + 40vw);
  }
  .main__hero .hero__text h1,
  .main__hero .hero__text a {
    --Hero-color: white;
  }

  /* || NOIDUNG1 MQ*/
  .main__noidung1 .wrapper img.hidden {
    display: none;
  }
  .main__noidung1 {
    background-color: var(--Bg-color2);
  }
  .main__noidung1 .wrapper {
    width: 100%;
    grid-template-areas: none;
    grid-template-columns: 1fr;
    row-gap: 0;
  }

  .main__noidung1 .wrapper img {
    width: 100%;
  }

  .main__noidung1 .wrapper .hidden {
    padding-bottom: 40px;
    text-align: center;
    display: block;
  }
  .main__noidung1 .wrapper h1 {
    display: none;
  }
  .noidung1__container {
    margin: 0 !important;
  }
}

@media (min-width: 750px) {
  body {
    overflow: unset;
  }
  p {
    font-size: clamp(1rem, 1.2vw, 2rem);
  }
  /* || NAVIGATION MQ2 */

  .navigation {
    box-shadow: 0 0 5px 0.5px grey;
  }
  .navigation:has(:not(.heightChange)) .wrapper {
    height: 75px;
  }
  .navigation .wrapper {
    transition: height 0.3s ease;
  }
  .heightChange {
    height: 125px !important;
  }
  .navigation .wrapper .navigation__button {
    display: none;
  }
  @media (prefers-reduced-motion: no-preference) {
    .w-50 {
      width: 50%;
    }
    .w-25 {
      width: 25%;
    }
    .effect {
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100%);
      transition: all 1s;
    }
  }
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  /* | HERO MQ2 */
  main .main__hero {
    margin-top: 125px;
  }
  .slide-btn {
    display: none;
  }
  .hero__carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .hero__carousel h1 {
    text-align: center;
    margin: 0 auto;
    line-height: 75vh;
    font-size: 10vmin;
  }
  .carousel__slide {
    float: left;
    height: 100%;
    width: 0;
    transition: width 0.3s linear;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
  }
  .labels {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .labels label {
    display: inline-block;
    background-color: transparent;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin: 0.5vmin 2vmin;
    border: 3px solid white;
  }
  .hero__carousel :is(.one, .two, .three, .four) {
    background-position: center center;
    background-size: cover;
  }
  .hero__carousel .one::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--Hero-Overlay-1);
  }
  .hero__carousel .one {
    background-image: url(img/hero1.jpg);
    background-blend-mode: color;
  }
  .hero__carousel .two {
    background-image: url(img/hero3.jpg);
  }
  .hero__carousel .three {
    background-image: url(img/hero2.jpg);
  }
  .hero__carousel .four {
    background-image: url(img/hero4.jpg);
  }
  #slide-btn-1:checked ~ .one,
  #slide-btn-2:checked ~ .two,
  #slide-btn-3:checked ~ .three,
  #slide-btn-4:checked ~ .four {
    width: 100%;
  }
  #slide-btn-1:checked ~ .one > *,
  #slide-btn-2:checked ~ .two > *,
  #slide-btn-3:checked ~ .three > *,
  #slide-btn-4:checked ~ .four > * {
    transform: scale(1);
  }
  #slide-btn-1:checked ~ .labels label[for="slide-btn-1"],
  #slide-btn-2:checked ~ .labels label[for="slide-btn-2"],
  #slide-btn-3:checked ~ .labels label[for="slide-btn-3"],
  #slide-btn-4:checked ~ .labels label[for="slide-btn-4"] {
    background-color: white;
  }
  /* || NOIDUNG 1 MQ2*/
  .main__noidung1 .wrapper .noidung1__container .container__p {
    background-color: var(--Bg-color2);
    z-index: 5;
  }
  /* || NOIDUNG 2 MQ2*/
  .noidung2__container {
    flex-direction: row;
  }

  /* || NOIDUNG 3 MQ2*/

  .container__noidung3 .container__left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0;
  }
  .container__noidung3 .container__right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .container__right .container__textRight {
    padding-block: calc(var(--Padding-block) / 3);
  }

  .container__left .container__textLeft {
    padding-block: calc(var(--Padding-block) / 3);
  }

  .container__right .container__textRight {
    order: 0;
  }
  /* || NOIDUNG 4 MQ2 */
  .noidung4__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .noidung4__container-item {
    grid-template-columns: 20px 1fr;
  }
  .noidung4__container-item:nth-of-type(1) {
    margin-top: 0;
  }
  .item__disc {
    margin-left: 0;
    margin-bottom: 0;
    width: 12px;
    height: 50%;
  }

  /* || PHANTICH MQ2 */
  .main__phantich :is(h1, h2, h3) {
    padding-inline: 0;
    font-size: 2vw;
  }
  .wrapper .phantich__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .phantich__container .center-alignment {
    grid-column: span 1;
  }

  /* || SCROLL BAR MQ2 */

  ::-webkit-scrollbar {
    width: 1.65em;
  }
  ::-webkit-scrollbar-track {
    background: var(--Scrollbar-track-color);
    margin-block: 0.5em;
    border-radius: 100vw;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--Scrollbar-track-thumb);
    border-radius: 100vw;
    border: 0.25em solid black;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--Scrollbar-track-hover);
  }
  /* || CONTACT MQ2 */
  .main__contact .wrapper {
    grid-template-columns: 1fr 0.65fr;
  }
  .main__contact .wrapper .contact__text {
    background-color: var(--Scrollbar-track-hover);
    background-image: none;
  }
  .main__contact .wrapper img {
    width: 100%;
    height: 100%;
  }
  .main__contact .wrapper .contact__text :is(h1.effect, p.effect) {
    transform: translateY(-100%);
    transition-duration: 0.75s;
  }
  .main__contact .wrapper .contact__text h1.show,
  .main__contact .wrapper .contact__text p.show {
    transform: translateY(0);
  }
  .main__contact .wrapper .contact__text a.effect {
    filter: blur(5px);
    transform: translateY(100%);
  }
  .main__contact .wrapper .contact__text a.show {
    transform: translateY(0);
    filter: blur(0);
  }
  /* FORM MQ2*/
  form {
    width: 75%;
    padding: 30px 20px;
  }
  form .close_form {
    top: 10px;
    right: 30px;
    width: 40px;
    height: 40px;
  }
  form h1 {
    font-size: 2rem;
  }
  .form__subheading {
    width: 100%;
    font-size: 1rem;
  }
  .form__wrapper {
    width: 100%;
  }
  form input[type="submit"] {
    padding-block: 10px;
    padding-inline: 50px;
    font-size: unset;
  }
  .form__cta {
    flex-direction: row;
  }

  .form__imgs > * {
    width: 50px;
    height: 50px;
  }
  /* || THANHVIEN MQ2 */

  .thanhvien__grid {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  /* FOOTER MQ2 */
  .inner__layout {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2rem;
  }
  .layout__item {
    text-align: unset;
    margin-bottom: 0;
  }
}
